

<div class="row" >
  <div class="col text-center ">
                          <!-- INTERPOLATION of Strings - int-->
    <img src="assets/img/{{ intentos }}.png" alt="Base-piso" class="img-ahorcado">
    <h3> Intentos </h3>
    <h6>{{ intentos }} de 9</h6>
  </div>  
</div>

<div class="row">
  <div class="col text-center">
    <h1> {{palabraOculta}} </h1>
  </div>
</div>

<!-- WIN -->
            <!-- DIRECTIVE *ngIf="" -->
<div class="row" *ngIf="gano">
  <div class="col text-center">
    <h1>Felicidades ¡GANASTE!</h1>
  </div>
</div>
<!-- LOSE -->
<div class="row" *ngIf="perdio">
  <div class="col text-center">
    <h1>Lo siento, PERDISTE</h1>
  </div>
</div>

<section class="container" *ngIf="!gano && !perdio">
  <div class="row">
    <div class="col text-center group-btn">
      <!-- Event CLICK -->
              <!-- DIRECTIVE *ngFor="" -->
      <button (click)="comprobar( i )" *ngFor="let i of letras" class="btn btn-outline-primary">
        <!-- iNTERPOLATION of Strings-->
        {{ i }} 
      </button>
      
    </div>
  </div>
</section>