

<div class="row" >
  <div class="col text-center ">
    <img src="assets/img/9.png" alt="Base-piso" class="img-ahorcado">
    <h3> Intentos </h3>
    <h6>3 de 9</h6>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1> {{palabraOculta}} </h1>
  </div>
</div>

<section class="container">
  <div class="row">
    <div class="col text-center group-btn">
      <!-- Event CLICK -->
              <!-- DIRECTIVE *ngFor="" -->
      <button (click)="comprobar( i )" *ngFor="let i of letras" class="btn btn-outline-primary">
        <!-- iNTERPOLATION of Strings-->
        {{ i }} 
      </button>
      
    </div>
  </div>
</section>